name: Generate JSON Schema docs
on: [push]
jobs:
  generate-docs:
    name: Generating Schema docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Set up Python 3.7
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: 3.14
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
          pip install json-schema-for-humans pdoc3
      - name: Clone PIP Repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          repository: jon77p/pypi
          path: pip
          token: ${{ secrets.GITHUBPAT }}
      - name: Generate the docs
        run: |
          generate-schema-doc argparsejson/schema.json pip/argparsejson/schema/index.html --expand-buttons --minify
          pdoc --html --force -o pip/argparsejson/docs argparsejson
          mv pip/argparsejson/docs/argparsejson/* pip/argparsejson/docs
          rmdir pip/argparsejson/docs/argparsejson
          cd pip
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Generated argparsejson schema docs"
          git push
