name: Generate JSON Schema docs
on: [push]
jobs:
  generate-docs:
    name: Generating Schema docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Set up Python 3.7
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: 3.14
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
          pip install json-schema-for-humans pdoc3
      - name: Clone PIP Repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          repository: jon77p/pypi
          path: pip
          token: ${{ secrets.GITHUBPAT }}
      - name: Generate the docs
        run: |
          generate-schema-doc argparsejson/schema.json pip/argparsejson/schema/index.html --expand-buttons --minify
          pdoc --html --force -o pip/argparsejson/docs argparsejson
          mv pip/argparsejson/docs/argparsejson/* pip/argparsejson/docs
          rmdir pip/argparsejson/docs/argparsejson
          cd pip
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Generated argparsejson schema docs"
          git push
